[Unit]
Description=FastChat Worker Service
Documentation=https://github.com/lm-sys/FastChat
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/fastchat

User=fastchat
Group=llm

EnvironmentFile=-/etc/default/fastchat
ExecStart=/opt/fastchat/.venv/bin/python3 -m fastchat.serve.model_worker --model-path ${FC_MODEL_PATH}

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of threads this process can create
TasksMax=infinity

# Disable timeout logic and wait until process is stopped
# TimeoutStopSec=infinity
# SendSIGKILL=no

[Install]
WantedBy=multi-user.target
